@import url("https://use.typekit.net/isu1vjb.css");

*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

#hestiaDiv {
  font-size: 62.5%;
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw; /*TO DO: CHECK VIEW WIDTH OF EXTENSION*/
  height: 100vh;
  z-index: 3;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  font-family: proxima-nova, sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #333E49;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 50px;
  box-shadow: 0 5px 29px 3px rgba(0, 0, 0, 0.08);
}

#hestiaDiv img {
  max-width: 100%;
}

/*------------Typography--------------*/

#hestiaDiv h1 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  font-family: proxima-nova, sans-serif;
  margin-bottom: 32px;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 0.5s;
}

#hestiaDiv h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-family: proxima-nova, sans-serif;
  margin-bottom: 24px;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 0.5s;
}

#hestiaDiv h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  font-family: proxima-nova, sans-serif;
  margin-bottom: 16px;
  text-transform: uppercase;
}

#hestiaDiv p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: proxima-nova, sans-serif;
  margin-bottom: 16px;
}

#hestiaDiv .inner-header {
  background-color: #00756a;
  padding: 15px;
}

#hestiaDiv .inner-header h1 {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: proxima-nova, sans-serif;
  margin-bottom: 0px;
}

/*------------Containers--------------*/
#hestiaDiv .cta-container{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-self: center;
  /* position: absolute;
  bottom: 0;
  left: 0; */
  padding: 15px;
  margin: 32px auto;
}

#hestiaDiv .job-view-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.job-state,
.job-view-desc,
.accordion-content {
  padding: 0px 15px;
}

.accordion-toggle {
  margin: 0px 15px;
}

/*----------Decorative staff----------*/
#hestiaDiv .welcome-illu {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  display: block;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/hestia.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

#hestiaDiv .curved-bg{
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/blob.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  width: 100%;
  height: 100%;
  max-height: 40vh;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
/*------------Alignments--------------*/
#hestiaDiv .all-centered {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#hestiaDiv .centered {
  text-align: center;
}


/*-------------Buttons----------------*/

#hestiaDiv .btn {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  border-radius: 8px;
  display: inline-block;
  min-width: 160px;
  height: 48px;
  padding: 10px 16px;
  transition: all 0.3s ease-out;
  text-align: center;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

#hestiaDiv .primary {
  background-color: #00756A;
  border: 2px solid #00756A;
  color: white;
}

#hestiaDiv .primary:hover {
  background: #18a369;
  border: 2px solid #18a369;
}

#hestiaDiv .secondary {
  border: 2px solid #00756A;
  color: #00756A;
}

#hestiaDiv .secondary:hover {
  border: 2px solid #18a369;
  color: #18a369;
}

#hestiaDiv .back {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  float: right;
  position: relative;
  top: -22px;
  right: 0px;
  z-index: 3;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(transparent 94%, rgb(255, 255, 255) 0px) 0% 0% / 0px 100% no-repeat;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease 0s;
}

#hestiaDiv .back:hover {
  /* text-decoration: underline; */
  background-size: 100% 100%;
}

/*-------------Colors---------------*/

.eden {color: #0c546c;}
.aegean-blue {color: #00b7cd;}
.pine-green {color: #00756a;}
.tango {color: #ff5e16;}
.havelock-blue {color: #4385e0;}
.east-bay {color: #4d52b1;}
.oxford-blue {color: #333e49;}
.thunderbird {color: #d5351a;}
.supernova  {color: #ffca00;}
.atlantis {color: #b1d540;}
.irish-cofee {color: #683d26;}
.valentino {color: #373656;}
.valentino-l {color: #4b4a67;}
.white-lilac {color: #f0f0fb;}
.volcanic-ash {color: #636d77;}
.shark-grey {color:#88929e;}
.hit-grey {color:#c4cfde;}
.sprout {color: #609230;}
.snow-drift {color: #f7f9f8;}
.aqua-haze {color:#e9f2f0;}
.wistful {color: #979ad3;}
.sherpa-blue {color: #00544c;}
.polar {color: #f6fafd;}
.mountain-meadow {color: #18a369;}
.deep-sea-blue {color: #0d485c;}

/*--------Animated elements----------*/

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.accordion-toggle {
  display: block;
}

.accordion-content {
  display: none;
}

.accordion-content.active {
  display: block;
}
